@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

body {
	background-color: #f5f5f5;
	font-family: 'Fira Sans', sans-serif;

}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.space {
	margin: 15px 0;
}

.button {
	background-color: #006A50;
	color: #fff;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 500;
	line-height: 21.6px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid #006A50;

}

.button:hover {
	background-color: #fff;
	color: #006A50;
	border: 1px solid #006A50;
}

.section-title h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 57.6px;
	color: #0E0E0E;
	margin-bottom: 30px;
	margin-top: 30px;
}

.section-title p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #0E0E0E;
	opacity: .70;
	margin-bottom: 30px;
}

/* 	Header */

.nav nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;

}

.nav nav ul li h2 {
	font-size: 32px;
	font-weight: 700;
	line-height: 38.4px;
	color: #0E0E0E;
}

.nav nav ul li button {
	border : 1px solid #006A50;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 500;
	line-height: 19.2px;
	color: #006A50;
	cursor: pointer;
	border-radius: 5px;
}

.nav nav ul li button:hover {
	background-color: #006A50;
	color: #fff;
}

/* hero section */


.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 60px;
	background-color: #C6E4D6;
	border-radius: 24px;

}

.hero .content h4 {
	font-size: 24px;
	font-weight: 500;
	line-height: 28.4px;
	color: #0E0E0E80;
	opacity: .50;
	margin-bottom: 12px;
}

.hero .content p {
	font-size: 56px;
	font-weight: 700;
	line-height: 67.2px;
	color: #0E0E0E;
	margin-bottom: 15px;
}

/* pillars of cards Section  */
.pillars {
	margin-bottom: 30px;
}

.cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
	
}

.cards .card {
	background-color: #fff;
	border-radius: 16px;
	padding: 30px;
	border: 1px solid #0E0E0E26 ;
	width: 295px;
}

.cards .card h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 26.4px;
	color: #0E0E0E;
	margin-bottom: 15px;
	margin-top: 15px;
}

.cards .card p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #0E0E0E;
	opacity: .70;
}

/* Vision Sections */

.vision {
	padding: 30px 0;
}

.vision-cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
	flex-wrap: wrap;

}

.vision-cards .vision-card {
	border-radius: 16px;
	padding: 40px 30px;
	width: 410px;
	height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.blue-card {
	background: #5490F533;
}

.green-card {
	background-color: #C6E4D6;
}

.yellow-card {
	background-color: #F7EBCF;
}

.vision-cards .vision-card h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 26.4px;
	color: #0E0E0E;
	margin-bottom: 15px;
	margin-top: 15px;
}

.vision-cards .vision-card p {	
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #0E0E0E;
	opacity: .70;
	margin-bottom: 20px;
}

.vision-cards .vision-card .vision-button button {
	padding:   10px 20px;
	font-size: 16px;
	font-weight: 600;
	line-height: 19.2px;
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	border:none;
}

.blue-button {
	background-color: #5490F5;
}

.green-button {
	background-color: #09A15C;	
}

.yellow-button {
	background-color: #FFC239;
}



/* Testimonial */

.testimonial {
	padding: 30px;
	background: #fff;
	border :1px solid #0E0E0E26;
	border-radius: 16px;
	margin-bottom: 30px;
}

.quote-container {
	background: url('../assets/quote-bg.png') no-repeat top left, transparent;
	padding-top: 30px;
	
}

.quote-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #0E0E0E;
	opacity: .80;
}

.author-info {
	margin:15px 0
}

.author-name {
	font-size: 20px;
	line-height: 24px;
	color: #0E0E0E;
	font-weight: 600;
	margin-bottom: 5px;
	opacity: .8;
}

/* Your Opinion */
.opinion {
	padding: 20px 0;
}

.questions {
	background-color: #fff;
	padding: 30px;
	border-radius: 16px;
	

}

.question1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	border : 1px solid #0E0E0E26;
	padding: 30px;
	background-color: #C6E4D6;
}

.question1 h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 26.4px;
	color: #0E0E0E;
}

.question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	border : 1px solid #0E0E0E26;
	
}

.question h3 {
	font-size: 16px;
	font-weight: 600;
	line-height: 19.2px;
	color: #0E0E0E;
	padding: 30px;
}

.question select {
	border: 1px solid #0E0E0E;
	font-size: 16px;
	font-weight: 600;
	line-height: 19.2px;
	color: #0E0E0E;
	padding: 10px 20px;
	background-color: #C6E4D6;
	-webkit-appearance: none;
  	appearance: none;
	padding-right: 40px;
	cursor: pointer;
}

.select-wrapper {
	position: relative;
	border-left: 1px solid #0E0E0E26;
	padding: 30px;
}


.select-wrapper::after {
  content: "⮟";
  font-size: 1rem;
  top: 38px;
  right: 43px;
  position: absolute;
}

/* News Card Section */
.news-card{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
	flex-wrap: wrap;
	padding: 35px;
	background-color: #fff;
	border-radius: 16px;
	margin-bottom: 30px;
}

.flex-reverse {
	flex-direction: row-reverse !important;
}

.news-card-img {
	width: 390px;
	height: 290px;
	overflow: hidden;
}

.news-card-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 16px;
}

.news-card-content {
	width: 780px;
}

.news-card-content h2 {
	font-size: 32px;
	font-weight: 700;
	line-height: 38.4px;
	color: #0E0E0E;
	margin-bottom: 15px;
}

.news-card-logo {
	margin-bottom: 10px;
}


.news-card-content p{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #0E0E0E;
	opacity: .70;
	margin-bottom: 10px;
}

.news-card-button button{
	margin-top: 10px;
}


/* Donate Today Section */
.width-80{
	width:80%;
	margin: 0 auto;
}

.donate {
	text-align: center;
	padding: 30px 0;
}

.donate-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin: 30px 0;
}

.donate-card {
	background-color: #fff;
	padding: 30px;
	border-radius: 16px;
	border: 1px solid #0E0E0E26;
}

.donate-card:hover {
	background-color: #C6E4D6;
	cursor: pointer;
	
}

.donate-card h1 {
	font-size: 40px;
	line-height: 48px;
	color: #0E0E0E;
	font-weight: 700;
	opacity: .8;
}

.donate-input input{
	width: 1000px;
	border:none;
	padding: 20px 15px;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #0E0E0E;
	text-align: center;
}

.donate-button {
	margin-top: 30px;
}
.donate-button button {
	padding: 20px 30px;
	border-radius: 10px;
}